extends layout

block content
    h1 Name: #{boat.name}
    h5 Year Built: #{boat.year}
    h5 Engine: #{boat.engine}
    h5 Crew size: #{boat.crew}
    h5 Guests size: #{boat.guest}
    hr
    if user
        if user.id === boat.author
            a.btn.btn-primary(href='/boats/edit/'+boat._id) Edit
            a.btn.btn-danger.delete-boat(href='#', data-id=boat._id) Delete
